@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@if (SignInManager.IsSignedIn(User))
{

        <a  class="py-2 d-none d-md-inline-block" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>


        <form class="py-2 d-none d-md-inline-block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">            
            <button type="submit" class="py-0 d-none d-md-inline-block btn btn-link">Logout</button>
        </form>

}
else
{

        <a class="py-2 d-none d-md-inline-block" asp-area="Identity" asp-page="/Account/Register">Register</a>


        <a class="py-2 d-none d-md-inline-block" asp-area="Identity" asp-page="/Account/Login">Login</a>

}